{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out"
	],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"prettier",
		"import"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prefer-const": "off",
		"no-constant-condition": "off",
		"prettier/prettier": [
			"warn",
			{
				"endOfLine": "auto",
				"trailingComma": "none"
			}
		],
		"@typescript-eslint/no-explicit-any": "off",
		"import/order": [
			"warn",
			{
				"groups": [
					"builtin",
					"external",
					[
						"internal",
						"parent",
						"sibling",
						"index"
					],
					"type"
				],
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		]
	}
}
