sourcemap.json

**/*.rbx[lm]*
roblox.yml
roblox.toml

globalTypes.d.lua
/serve
/include
*.tsbuildinfo
lune_packages
luau_packages
roblox_packages

**/sourcemap.json
**/darklua-sourcemap.json

Packages